<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quran">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="The Quran - القرآن"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quran">
        <activity
            android:name=".MainActivity_RV"
            android:exported="false" />
        <activity
            android:name=".ParaNamesActivity"
            android:exported="false" />
        <activity
            android:name=".paraNamesActivity2"
            android:exported="false" />
        <activity
            android:name=".paraActivity3"
            android:exported="false" />
        <activity
            android:name=".BookmarksActivity2"
            android:exported="false" />
        <activity
            android:name=".BookmarksActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>